@page
@{
    ViewData["Title"] = "Деталі прикраси";
}

<div class="container mt-5" id="product-details-container">
    <div class="text-center w-100" id="loading-spinner">
        <div class="spinner-border text-secondary" role="status"></div>
    </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>